@import "../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss";
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/font-awesome/css/font-awesome.css";
@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700);

  $squareWidth: 63px;
  $squareHeight: 52px;
  $rankFileSize: 1.15em;
  $headerFont: "Cinzel", serif;

  h1 {
    margin-top: .75em;
    margin-left: .25em;
    text-align: center;
    font-family: $headerFont;
    font-weight: 400;
    font-size: 3em;
  }

  h2 {
    margin-left: .25em;
    font-family: $headerFont;
    text-align: center;
    font-size: 1.5em;
  }

  /*
  Changing Susy default global settings
  With help from https://css-tricks.com/build-web-layouts-easily-susy/
  */

  // Susy is doing all the calculations for 8 columns this time
  $susy: (
    columns: 17,
    container: 630px,
  );

  main {
    @include container;
    height: 36em;
    box-sizing: border-box;
    margin-top: 1.5em;
    padding-left: 40px;
    background-color: black;
  } // end main

  ul {
    @include pre(3em);
  }

  .column-header-top {
    margin-top: 1em;
    padding-bottom: .5em;
  }

  .column-header-top span {
    position: relative;
    top: 1.25em;
    left: .8em;
    font-size: $rankFileSize;
    color: #fff;
  }

  .column-header-bottom {
    @include break;
  }

  .column-header-bottom span {
    position: relative;
    top: .75em;
    left: .87em;
    font-size: $rankFileSize;
    color: #fff;
  }

  .rank {
    color: #fff;
  }

  .file-first {
    @include first;
  }

  .file-first span {
    width: $squareWidth;
    height: $squareHeight;
    @include span( 1 of 17 ); // each li will take up 1 column
    position: relative;
    top: 3.75em;
    right: 27.25em;
    font-size: $rankFileSize;
    color: #fff;
  }

  .file-last {
    @include span( 17 of 17 ); // each li will take up 1 column
    position: relative;
    bottom: 55.795em;
    left: 53em;
    font-size: .5em;
    color: #fff;
  }

  li {
    content: " ";
    width: $squareWidth;
    height: $squareHeight;
    @include span( 2 of 17 ); // each li will take up 2 columns
    margin: 0 auto;
    cursor: pointer;
  }

  .odd-dark,
  .even-dark {
    // background-image: url( "../../web/img/grass.jpg" );
    background-color: #777;
  }

  .odd-light,
  .even-light {
    // background-image: url( "../../web/img/dirt.jpg" );
    background-color: #fff;
  }

  span,
  .chess-piece {
    font-size: 2.5em;
    font-weight: 700;
    margin-left: 7px;
  }

  .see-moves {
    @include break;
    @include pre(11.75em);
  }

  .step-backward,
  .play,
  .pause,
  .step-forward {
    @include span( 5 of 15 );
    width: $squareWidth;
    margin: 0 0 1.75em 0;
    font-size: 1em;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: #777;
    color: #fff;
    cursor: pointer;
  }

  .pause {
    display: none;
  }
