@import "../../../../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss";
@import "../../../../../bower_components/susy/sass/susy";
@import "../../../../../bower_components/font-awesome/css/font-awesome.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$squareWidth: 82px;
$squareHeight: 70px;

/*
Changing Susy default global settings
With help from https://css-tricks.com/build-web-layouts-easily-susy/
*/

// Susy is doing all the calculations for 8 columns this time
$susy: (
  columns: 16,
  container: 656px,
);

main {
  @include container;
  padding-left: 40px;
} // end main

li {
  content: " ";
  width: $squareWidth;
  height: $squareHeight;
  @include span( 2 of 16 ); // each li will take up 1 column
  margin: 0 auto;
  cursor: pointer;
}

.odd-dark,
.even-dark {
  background-image: url( "../../web/img/grass.jpg" );
}

.odd-light,
.even-light {
  background-image: url( "../../web/img/dirt.jpg" );
}

span {
  font-size: 3.5em;
  font-weight: 700;
  margin-left: 7px;
}

.see-moves {
  margin-left: 13em;
}

.see-moves button {
  @include span( 8 of 16 );
  width: $squareWidth;
  margin-top: 2em;
  font-size: 1em;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  cursor: pointer;
}
