@import "../../../../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss";
@import "../../../../../bower_components/susy/sass/susy";
@import "../../../../../bower_components/font-awesome/css/font-awesome.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$squareWidth: 82px;
$squareHeight: 70px;
$rankFileSize: 1.5em;

/*
Changing Susy default global settings
With help from https://css-tricks.com/build-web-layouts-easily-susy/
*/

// Susy is doing all the calculations for 8 columns this time
$susy: (
  columns: 17,
  container: 738px,
);

main {
  @include container;
  box-sizing: border-box;
  margin-top: -1.5em;
  padding-left: 40px;
  background-color: black;
} // end main

ul {
  @include pre(3em);
}

.column-header-top {
  margin-top: 1em;
}

.column-header-top span {
  position: relative;
  top: 1.25em;
  left: .75em;
  font-size: $rankFileSize;
  color: #fff;
}

.column-header-bottom {
  @include break;
}

.column-header-bottom span {
  position: relative;
  top: .75em;
  left: .85em;
  font-size: $rankFileSize;
  color: #fff;
}

.rank {
  color: #fff;
}

.file {
  @include first;
}

.file span {
  width: $squareWidth;
  height: $squareHeight;
  @include span( 1 of 17 ); // each li will take up 1 column
  position: relative;
  top: 4em;
  right: 25em;
  font-size: $rankFileSize;
  color: #fff;
}

li {
  content: " ";
  width: $squareWidth;
  height: $squareHeight;
  @include span( 2 of 17 ); // each li will take up 2 columns
  margin: 0 auto;
  cursor: pointer;
}

.odd-dark,
.even-dark {
  // background-image: url( "../../web/img/grass.jpg" );
  background-color: #777;
}

.odd-light,
.even-light {
  // background-image: url( "../../web/img/dirt.jpg" );
  background-color: #fff;
}

span,
.chess-piece {
  font-size: 3.5em;
  font-weight: 700;
  margin-left: 7px;
}

.see-moves {
  @include break;
  @include pre(15.25em);
}

.see-moves button {
  @include span( 8 of 16 );
  width: $squareWidth;
  margin: 0 0 1.25em 0;
  font-size: 1em;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: #777;
  color: #fff;
  cursor: pointer;
}
