<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CheckMate</title>
    <link rel="shortcut icon" href="assets/web/img/king.png" type="image/x-icon">
    <link rel="icon" href="assets/web/img/king.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/web/sass/styles.css">
  </head>
  <body>
    <header></header>
    <main>
      <!-- Begin row-1 -->
      <ul class="row-1">
        <li class="odd-light"><span>&#9820;</span></li>
        <li class="odd-dark"><span>&#9822;</span></li>
        <li class="odd-light"><span>&#9821;</span></li>
        <li class="odd-dark"><span>&#9819;</span></li>
        <li class="odd-light"><span>&#9818;</span></li>
        <li class="odd-dark"><span>&#9821;</span></li>
        <li class="odd-light"><span>&#9821;</span></li>
        <li class="odd-dark"><span>&#9820;</span></li>
      </ul> <!-- end row-1 -->

      <!-- Begin row-2 -->
      <ul class="row-2">
        <li class="even-dark"><span>&#9823;</span></li>
        <li class="even-light"><span>&#9823;</span></li>
        <li class="even-dark"><span>&#9823;</span></li>
        <li class="even-light"><span>&#9823;</span></li>
        <li class="even-dark"><span>&#9823;</span></li>
        <li class="even-light"><span>&#9823;</span></li>
        <li class="even-dark"><span>&#9823;</span></li>
        <li class="even-light"><span>&#9823;</span></li>
      </ul> <!-- end row-2 -->

      <!-- Begin row-3 -->
      <ul class="row-3">
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
      </ul> <!-- end row-3 -->

      <!-- Begin row-4 -->
      <ul class="row-4">
        <li class="even-dark"></li>
        <li class="even-light"></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
      </ul> <!-- end row-4 -->

      <!-- Begin row-5 -->
      <ul class="row-5">
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
        <li class="odd-light"><span></span></li>
        <li class="odd-dark"></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
      </ul> <!-- end row-5 -->

      <!-- Begin row-6 -->
      <ul class="row-6">
        <li class="even-dark"></li>
        <li class="even-light"></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
      </ul> <!-- end row-6 -->

      <!-- Begin row-7 -->
      <ul class="row-7">
        <li class="odd-light"><span>&#9817;</span></li>
        <li class="odd-dark"><span>&#9817;</span></li>
        <li class="odd-light"><span>&#9817;</span></li>
        <li class="odd-dark"><span>&#9817;</span></li>
        <li class="odd-light"><span>&#9817;</span></li>
        <li class="odd-dark"><span>&#9817;</span></li>
        <li class="odd-light"><span>&#9817;</span></li>
        <li class="odd-dark"><span>&#9817;</span></li>
      </ul> <!-- end row-7 -->

      <!-- Begin row-8 -->
      <ul class="row-8">
        <li class="even-dark"><span>&#9814;</span></li>
        <li class="even-light"><span>&#9816;</span></li>
        <li class="even-dark"><span>&#9815;</span></li>
        <li class="even-light"><span>&#9813;</span></li>
        <li class="even-dark"><span>&#9812;</span></li>
        <li class="even-light"><span>&#9815;</span></li>
        <li class="even-dark"><span>&#9816;</span></li>
        <li class="even-light"><span>&#9814;</span></li>
      </ul> <!-- end row-8 -->

      <nav class="see-moves">
        <button name="step back" class="step-backward"> < </button>
        <button name="step forward" class="step-forward"> > </button>
      </nav>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="assets/web/js/scripts.js"></script>
  </body>
</html>
