<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CheckMate</title>
    <link rel="shortcut icon" href="assets/web/img/king.png" type="image/x-icon">
    <link rel="icon" href="assets/web/img/king.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/web/sass/styles.css">
  </head>
  <body>
    <header>
      <h1>The Catalan Opening</h1>
      <h2>(first nine moves)</h2>
    </header>
    <main>
      <!-- begin column-header-top -->
      <ul class="column-header-top">
        <li><span>A</span></li>
        <li><span>B</span></li>
        <li><span>C</span></li>
        <li><span>D</span></li>
        <li><span>E</span></li>
        <li><span>F</span></li>
        <li><span>G</span></li>
        <li><span>H</span></li>
      </ul> <!-- end column-header-top -->

      <!-- Begin row-1 -->
      <ul class="row-1">
        <li class="file-first"><span>8</span></li>
        <li class="odd-light"><span class="chess-piece">&#9820;</span></li>
        <li class="odd-dark"><span class="chess-piece">&#9822;</span></li>
        <li class="odd-light"><span class="chess-piece">&#9821;</span></li>
        <li class="odd-dark"><span class="chess-piece">&#9819;</span></li>
        <li class="odd-light"><span class="chess-piece">&#9818;</span></li>
        <li class="odd-dark"><span class="chess-piece">&#9821;</span></li>
        <li class="odd-light"><span class="chess-piece">&#9822;</span></li>
        <li class="odd-dark"><span class="chess-piece">&#9820;</span></li>
      </ul> <!-- end row-1 -->

      <!-- Begin row-2 -->
      <ul class="row-2">
        <li class="file-first"><span>7</span></li>
        <li class="even-dark"><span class="chess-piece">&#9823;</span></li>
        <li class="even-light"><span class="chess-piece">&#9823;</span></li>
        <li class="even-dark"><span class="chess-piece">&#9823;</span></li>
        <li class="even-light"><span class="chess-piece">&#9823;</span></li>
        <li class="even-dark"><span class="chess-piece">&#9823;</span></li>
        <li class="even-light"><span class="chess-piece">&#9823;</span></li>
        <li class="even-dark"><span class="chess-piece">&#9823;</span></li>
        <li class="even-light"><span class="chess-piece">&#9823;</span></li>
      </ul> <!-- end row-2 -->

      <!-- Begin row-3 -->
      <ul class="row-3">
        <li class="file-first"><span>6</span></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
      </ul> <!-- end row-3 -->

      <!-- Begin row-4 -->
      <ul class="row-4">
        <li class="file-first"><span>5</span></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
      </ul> <!-- end row-4 -->

      <!-- Begin row-5 -->
      <ul class="row-5">
        <li class="file-first"><span>4</span></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
        <li class="odd-light"></li>
        <li class="odd-dark"></li>
      </ul> <!-- end row-5 -->

      <!-- Begin row-6 -->
      <ul class="row-6">
        <li class="file-first"><span>3</span></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
        <li class="even-dark"></li>
        <li class="even-light"></li>
      </ul> <!-- end row-6 -->

      <!-- Begin row-7 -->
      <ul class="row-7">
        <li class="file-first"><span>2</span></li>
        <li class="odd-light"><span class="chess-piece">&#9817;</span></li>
        <li class="odd-dark"><span class="chess-piece">&#9817;</span></li>
        <li class="odd-light"><span class="chess-piece">&#9817;</span></li>
        <li class="odd-dark"><span class="chess-piece">&#9817;</span></li>
        <li class="odd-light"><span class="chess-piece">&#9817;</span></li>
        <li class="odd-dark"><span class="chess-piece">&#9817;</span></li>
        <li class="odd-light"><span class="chess-piece">&#9817;</span></li>
        <li class="odd-dark"><span class="chess-piece">&#9817;</span></li>
      </ul> <!-- end row-7 -->

      <!-- Begin row-8 -->
      <ul class="row-8">
        <li class="file-first"><span>1</span></li>
        <li class="even-dark"><span class="chess-piece">&#9814;</span></li>
        <li class="even-light"><span class="chess-piece">&#9816;</span></li>
        <li class="even-dark"><span class="chess-piece">&#9815;</span></li>
        <li class="even-light"><span class="chess-piece">&#9813;</span></li>
        <li class="even-dark"><span class="chess-piece">&#9812;</span></li>
        <li class="even-light"><span class="chess-piece">&#9815;</span></li>
        <li class="even-dark"><span class="chess-piece">&#9816;</span></li>
        <li class="even-light"><span class="chess-piece">&#9814;</span></li>
      </ul> <!-- end row-8 -->

      <!-- begin column-header-bottom -->
      <ul class="column-header-bottom">
        <li><span>A</span></li>
        <li><span>B</span></li>
        <li><span>C</span></li>
        <li><span>D</span></li>
        <li><span>E</span></li>
        <li><span>F</span></li>
        <li><span>G</span></li>
        <li><span>H</span></li>
      </ul> <!-- end column-header-bottom -->

      <nav class="see-moves">
        <button name="step back" class="step-backward">
          <span class="fa fa-backward" aria-hidden="true"></span>
        </button>
        <button name="step back" class="play">
          <span class="fa fa-play" aria-hidden="true"></span>
        </button>
        <button name="step back" class="pause">
          <span class="fa fa-pause" aria-hidden="true"></span>
        </button>
        <button name="step forward" class="step-forward">
          <span class="fa fa-forward" aria-hidden="true"></span>
        </button>
      </nav>

      <ul>
        <li class="file-last"><span>8</span></li>
        <li class="file-last"><span>7</span></li>
        <li class="file-last"><span>6</span></li>
        <li class="file-last"><span>5</span></li>
        <li class="file-last"><span>4</span></li>
        <li class="file-last"><span>3</span></li>
        <li class="file-last"><span>2</span></li>
        <li class="file-last"><span>1</span></li>
      </ul>



    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="assets/web/js/scripts.js"></script>
  </body>
</html>
